body {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    /*brings content to the middle*/
    align-items: center;
    height: 100vh;
    /*Sets height of body element*/
    margin: 0;
}

.profile-card {
    background-color: #333;
    border: none;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
}

.profile-card img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.profile-card .btn {
    background-color: #444;
    border: none;
    width: 100%;
    margin: 5px 0;
}